html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffc87a;
}

body {
  background-image: url(vecteezy_fantasy-pink-planet-surface_19804657.svg);
  background-size: cover;
}

.container {
  background-color: #5b36d9de;
  border: 2px solid #5b36d9de;
  padding: 3rem;
  box-shadow: 0 0 1rem #000000;
  border-radius: 1rem;
  margin: 2rem auto;
  max-width: 750px;
}

h1 {
  text-align: center;
  margin: 1rem auto;
  text-transform: uppercase;
}

#description {
  text-align: center;
  margin: 1rem;
}

h3 {
  margin: .25rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
}

@media (min-width: 320px) {
  label {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: .75rem;
  }
}

fieldset {
  border: 0.5rem outset #ffc87a;
  margin: 1rem auto;
}

input, select {
  margin: .5rem;
}

input[type="submit"] {
  font-size: 1.25rem;
  display: block;
  margin: 4rem auto;
  font-size: 1.1rem;
  background-color: #d5d0f3;
  border-color: #ffff;
}

footer {
  padding: .25rem;
}

.credit, a {
  color: #000000;
  font-weight: 600;
  margin: 0;
}