body {
    background-image: url(vecteezy_fantasy-pink-planet-surface_19804657.svg);
    background-size: cover;
    color: #ffc87a;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0;
    margin: 0;
}

.subtitle {
    text-align: left;
    margin: 0;
    padding: 1em 0;
    font-size: 1.25rem;
}

.container {
    background-color: #5b36d9de;
    border: 2px solid #5b36d9de;
    width: 30vw;
    margin: 20px auto;
    padding: 0 7px;
    border-radius: 30px;
}

main {
    margin: 0;
    padding: 2em;
}

label {
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
}

fieldset {
    border: none;
    padding: 0.5rem 0;
  }

/* check heights and fixed v relative units */

.indent {
margin-left: 1em;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 50px auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #d5d0f3;
    border-color: #ffff;
    min-width: 100px;
    max-width: 100px;
}

  /* check heights and fixed v relative units */

  footer,
  footer a {
    color: #000000;
  }

  footer a {
    margin: 0;
    padding: 0;
  }

  .credit {
    margin: 0;
    padding: 1em 1em;
  }

