body {
    background-image: url(vecteezy_fantasy-pink-planet-surface_19804657.jpg);
    color: #ffff;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Garamond;
    font-size: 16px;
}

h1, p {
    text-align: center;
}

.form {
    background-color: #5b36d9;
    height: 70vh;
    width: 70vw;
    max-width: 500px;
    min-width: 300px;
    margin: 100px auto;
    padding: 2em;
}

/* check heights and fixed v relative units */

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 50px auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #d5d0f3;
    border-color: #ffff;
    min-width: 100px;
    max-width: 100px;
}

  /* check heights and fixed v relative units */

footer {
    color: #0000;

}

.form .attribution {
    flex-direction: column;
    align-items: baseline;
}